{
  "project_info": {
    "project_number": "847357865468",
    "project_id": "bloot-d9442",
    "storage_bucket": "bloot-d9442.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "PLACEHOLDER_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.bloot.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "PLACEHOLDER_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
